<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:search="http://www.sitecore.net/xmlconfig/search/">
  <sitecore role:require="Standalone OR ContentManagement OR ContentDelivery OR Processing OR Reporting">
    <contentSearch>
      <indexConfigurations>
        <defaultLuceneIndexConfiguration search:require="lucene">
          <documentBuilderType>Sitecore.Support.ContentSearch.LuceneProvider.LuceneDocumentBuilder, Sitecore.Support.96931</documentBuilderType>
        </defaultLuceneIndexConfiguration>

        <defaultSolrIndexConfiguration search:require="solr">
          <documentBuilderType>Sitecore.Support.XA.Foundation.VersionSpecific.CustomSolrDocumentBuilder, Sitecore.Support.96931</documentBuilderType>
        </defaultSolrIndexConfiguration>

        <defaultCloudIndexConfiguration search:require="azure">
          <documentBuilderType>Sitecore.Support.ContentSearch.Azure.CloudSearchDocumentBuilder, Sitecore.Support.96931</documentBuilderType>
        </defaultCloudIndexConfiguration>
      </indexConfigurations>
    </contentSearch>
  </sitecore>
</configuration>